<div class="container">
  <h2>注文履歴詳細</h2>

  <h4>注文情報</h4>
  <table class='table table-bordered'>
    <tr>
      <th>注文日</th>
      <td></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td></td>
    </tr>
  </table>

  <h4>請求情報</h4>
  <table class='table table-bordered'>


  <h4>注文内容</h4>
  <table class='table table-bordered'>